* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v18_27 {
  width: 640px;
  height: 1000px;
  background: rgba(59,59,59,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_28 {
  width: 259px;
  color: rgba(210,83,84,1);
  position: absolute;
  top: 167px;
  left: 190px;
  font-family: Hweebaqs;
  font-weight: Medium;
  font-size: 60px;
  opacity: 1;
  text-align: left;
}
.v18_29 {
  width: 68px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 42px;
  left: 223px;
  font-family: Undertale Battle Font;
  font-weight: Thin;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v18_30 {
  width: 95px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 42px;
  left: 344px;
  font-family: Undertale Battle Font;
  font-weight: Thin;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v18_31 {
  width: 56px;
  height: 55px;
  background: url("../images/v18_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 30px;
  overflow: hidden;
}
.v18_34 {
  width: 68px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 42px;
  left: 106px;
  font-family: Undertale Battle Font;
  font-weight: Thin;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v18_35 {
  width: 111px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 31px;
  left: 493px;
  font-family: Undertale Battle Font;
  font-weight: Thin;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v18_51 {
  width: 80px;
  height: 4px;
  background: rgba(210,83,84,1);
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 219px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v19_69 {
  width: 58px;
  height: 58px;
  background: url("../images/v19_69.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 29px;
  border: 1px solid rgba(255,255,255,1);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v19_91 {
  width: 113px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 245px;
  left: 250px;
  font-family: Undertale Battle Font;
  font-weight: Thin;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v19_93 {
  width: 319px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 309px;
  left: 160px;
  font-family: Hweebaqs;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v58_2 {
  width: 640px;
  height: 206px;
  background: rgba(59,59,59,1);
  opacity: 1;
  position: absolute;
  top: 987px;
  left: 0px;
  overflow: hidden;
}
.v27_53 {
  width: 475px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 418px;
  left: 107px;
  font-family: Hweebaqs;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v27_54 {
  width: 483px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 492px;
  left: 72px;
  font-family: Hweebaqs;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v27_57 {
  width: 491px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 579px;
  left: 81px;
  font-family: Hweebaqs;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v27_58 {
  width: 420px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 716px;
  left: 122px;
  font-family: Hweebaqs;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v27_62 {
  width: 165px;
  height: 58px;
  background: rgba(210,83,84,1);
  opacity: 1;
  position: absolute;
  top: 965px;
  left: 225px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
}
.v27_64 {
  width: 130px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 980px;
  left: 243px;
  font-family: Unica One;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v33_149 {
  width: 640px;
  height: 206px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 1066px;
  left: 0px;
  overflow: hidden;
}
.v33_150 {
  width: 137px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1090px;
  left: 244px;
  font-family: Hweebaqs;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v33_151 {
  width: 74px;
  color: rgba(210,83,84,1);
  position: absolute;
  top: 1131px;
  left: 395px;
  font-family: Hweebaqs;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v33_152 {
  width: 138px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1186px;
  left: 254px;
  font-family: Hweebaqs;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v33_153 {
  width: 155px;
  color: rgba(210,83,84,1);
  position: absolute;
  top: 1131px;
  left: 154px;
  font-family: Hweebaqs;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v33_154 {
  width: 38px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1131px;
  left: 336px;
  font-family: Hweebaqs;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
